{% extends "base.html" %}

{% block title %}
All Users
{% endblock %}


{% block content %}

<div class="card">

    <h1>
        All Users
    </h1>


    {% if users %}

    <table>

        <thead>

            <tr>

                <th>
                    User ID
                </th>

                <th>
                    Name
                </th>

                <th>
                    Age
                </th>

                <th>
                    Weight
                </th>

                <th>
                    Goal
                </th>

                <th>
                    Intensity
                </th>

                <th>
                    Action
                </th>

            </tr>

        </thead>


        <tbody>

        {% for user in users %}

            <tr>

                <td>
                    {{ user.user_id }}
                </td>

                <td>
                    {{ user.username }}
                </td>

                <td>
                    {{ user.age }}
                </td>

                <td>
                    {{ user.weight }}
                </td>

                <td>
                    {{ user.goal }}
                </td>

                <td>
                    {{ user.intensity }}
                </td>

                <td>

                    <form
                        method="post"
                        action="/delete-user"
                        onsubmit="return confirmDelete();"
                    >

                        <input
                            type="hidden"
                            name="user_id"
                            value="{{ user.user_id }}"
                        >

                        <button
                            type="submit"
                            class="danger"
                        >
                            Delete
                        </button>

                    </form>

                </td>

            </tr>

        {% endfor %}

        </tbody>

    </table>

    {% else %}

    <p>
        No users found.
    </p>

    {% endif %}

</div>

{% endblock %}